//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"

configuration {
    dpi: 192;
    show-icons: true;
    modi: [window,run,ssh,drun];
}

// themes taken from: https://github.com/newmanls/rofi-themes-collection
@theme "/home/ianic/.local/share/rofi/themes/rounded-nord-dark.rasi"
